<nav
  [ngClass]="{
    'navbar-dark': this.themeStore.theme() === 'dark-theme',
    'bg-dark': this.themeStore.theme() === 'dark-theme',
    'navbar-light': this.themeStore.theme() === 'light-theme',
    'bg-light': this.themeStore.theme() === 'light-theme'
  }"
  class="navbar navbar-expand-sm"
>
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>
        </li>
      </ul>
      <div
        class="form-check form-switch"
        style="margin-left: auto; margin-right: 0"
        (click)="this.themeStore.switchBetweenDarkAndLight()"
      >
        <input class="form-check-input" type="checkbox" role="switch" />
      </div>
    </div>
  </div>
</nav>
