<img class="main-image" src="assets/foxjump.png" />

<div class="socials">
  <a
    href="https://www.linkedin.com/in/bence-jand%C3%A1s-296a26161/"
    target="_blank"
    ><img class="icon linkedin-icon" src="assets/linkedin.svg" alt="linkedin"
  /></a>
  <a href="https://github.com/hyker1811" target="_blank"
    ><img class="icon github-icon" src="assets/github.svg" alt="github"
  /></a>
</div>

<p
  class="disclaimer"
  [ngClass]="{
    'dark-theme': this.themeStore.theme() === 'dark-theme',
    'light-theme': this.themeStore.theme() === 'light-theme'
  }"
>
  Image courtesy of
  <a
    target="_blank"
    href="https://www.npr.org/sections/krulwich/2014/01/03/259136596/youre-invisible-but-ill-eat-you-anyway-secrets-of-snow-diving-foxes"
    >Robert Krulwich</a
  >. The source code for this website can be found
  <a target="_blank" href="https://github.com/hyker1811/PersonalWebsite">
    here</a
  >.
</p>
