.main-image {
  max-width: 700px;
  width: 60%;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
  font-family: system-ui, sans-serif;
}

p.attribution-text {
  font-size: 10px;
  text-align: center;
}
p.dark-theme {
  color: white;
}

.socials {
  text-align: center;
}

.icon {
  width: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.disclaimer {
  position: absolute;
  bottom: 0;
  width: 99%;
  text-align: center;
  font-size: 10px;
}

a {
  color: cornflowerblue;
}
